<title>Matikkasovellus</title>
<h1>Matikkasovellus</h1>
<p>{{ message }}</p>

<form action="/result" method="POST">
Mikä on 50% luvusta 110?<br><input type="text" name="name"><br>
Kuinka monta prosenttia luku 23 on luvusta 100?<br><input type="text" name="name"><br>
Mikä on 20% luvusta 40?<br><input type="text" name="name"><br>
Kuinka monta prosenttia luku 6 on luvusta 60?<br><input type="text" name="name"><br>
Mikä on 5% luvusta 80?<br><input type="text" name="name"><br>
<input type="submit" value="Lähetä">
</form>
    
<a href="@app.route/">Palaa takaisin</a>